/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url("images/bg.jpg") fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
  margin: 0 3px 0 3px;
}

h2, p {
  margin: 0;
  padding: 0;
}

li {
  padding-top: 5px;
}

.container {
  width: 40%;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 20px;
  height: 85vh;
}

nav {
  height: 120px;
}

.nav-container {
  margin: 15px;
  display: flex;
  align-items: flex-start;
}

.logo {
  height: 100px;
  margin: 0 15px 0 0;
  opacity: 1;
}

.search-container {
  width: 200px;
  position: relative;
}

.searchbar {
  padding-left: 10px;
  box-sizing: border-box;
  width: 200px;
  height: 30px;
}

.city-list-container {
  overflow: auto;
  max-height: 70px;
  position: absolute;
  width: 200px;
  background-color: #f1f1f1;
  box-sizing: border-box;
  font-size: 12px;
}

.city-list {
  list-style-type: none;
}

.current {
  margin: 0 auto;
  width: 80%;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  background-color: #5f94ab;
  display: flex;
  align-items: center;
}

.current-info, .current-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current h2 {
  margin: 10px 0;
  color: #f1f1f1;
}

.current p {
  color: #a5e5e5;
  font-size: 20px;
}

.weather-icon {
  height: 70px;
  width: 70px;
  background-color: black;
}

.nextweek {
  margin: 0 auto;
  width: 30%;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  background-color: #5f94ab;
  display: block;
  align-items: center;
}


.nextweek h2 {
  margin: 10px 0;
  color: #f1f1f1;
}

.nextweek p {
  color: #a5e5e5;
  font-size: 20px;
}


